<div class="barra">
    <h2>Menú</h2>
    <ul>
        <li><a href="/">Inicio</a></li>
        {{#each integrantes}}
            <li><a href="{{pagina}}">{{nombre}}</a></li>
        {{/each}}
        <li><a href="/curso">Curso</a></li>
        <li><a href="/word_cloud">Word Cloud</a></li>
    </ul>
</div>
